# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/

# Virtual environments
.conda/

# Type checkers / linters
.mypy_cache/
.pytype/
.pyright/
ruff_cache/
ruff.log

# PyInstaller
*.spec
*.manifest

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*
*.env

